[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
importlib-resources = "*"
ipdb = "*"
faker = "*"
jsonify = "*"
sqlalchemy-serializer = "*"
flask-restful = "0.3.9"
flask-cors = "*"
[dev-packages]

[requires]
python_version = "3.8"